<h1>Create New post</h1>
<%= form_with model: @new_post, url: create_post_path, method: :post, local: true, scope: :new_post do |f| %>
    <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    </div>

    <div>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
    </div>

    <%= f.submit "Add Post" %>
<% end %>