<div class="card mb-1">
    <div class="card-header">
        <div class="card-title">
            <h5 class="card-title"><%= @post.title %> #<%= @post.id %> by <%= @post.author.name %></h5>
            <p class="card-text d-flex justify-content-end ">
                <small class="text-muted">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></small>
            </p>
        </div>
    </div>

    <div class="card-body">
        <p class="card-text"><%= @post.text %></p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <% @post.most_recent_comments.each do |comment| %>
            <p class="card-text">
                <%= comment.author.name %>: <%= comment.text %>
            </p>
        <% end %>
    </div>
</div>